* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}


.head-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    color: white;
}

.link1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1rem;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoicon{
    width: 40%;
    margin-top: .5em;
    margin-bottom: .5em;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

i{
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1rem;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 0;
}

.row {
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: calc(100% / 3 - 20px);
}

.card {
    position: relative;
    margin-bottom: 5em;
}

.discount-red{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 2em;
    padding: .1em;
}

.banner-green{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 2em;
    left: 2.5em;
    padding: .1em;
}

.banner-green-last{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 2em;
    left: 0em;
    padding: 0.1em;
}

.heart{
    position: absolute;
    background-color: white;
    right: 0;
    top: .2em;
    padding: .6em;
}

.description{
    position: absolute;
}

.price{
    color: red;
    text-decoration: none;
    display: inline-block;
}

.offer{
    text-decoration: line-through;
    display: inline-block;
}

.heart:hover{
    color: red;
}

.first{
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .first{
    display: none;
}